[Desktop Entry]
Name=qBittorrent Nox Daemon - Iniciar
Exec=gksudo /etc/init.d/qbittorrent-nox-daemon start
Icon=application-x-bittorrent
Terminal=false
Type=Application
Categories=Network;P2P;
Comment=Iniciar servidor Qbittorrent Nox para descargas P2P

