[Desktop Entry]
Name=pyLoad Web
Exec=xdg-open http://localhost:8000
Icon=pyload
Terminal=false
Type=Application
Categories=Network;P2P;
Comment=%COMMENT%
