[Desktop Entry]
Name=%NAME%
Exec=gksudo /etc/init.d/pyload-daemon stop
Icon=pyload
Terminal=false
Type=Application
Categories=Network;P2P;
Comment=%COMMENT%
