[Desktop Entry]
Name=%NAME%
Exec=/usr/share/TVenLinux/TVenLinux.sh
Icon=tvtime
Terminal=false
Type=Application
Categories=AudioVideo;
Comment=%COMMENT%
