[Desktop Entry]
Name=%NAME%
Exec=gksudo /etc/init.d/utorrent-daemon start
Icon=utorrent
Terminal=false
Type=Application
Categories=Network;P2P;
Comment=%COMMENT%
